<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:book th:replace="layout :: link-css"></th:book>
    <title>Add Book</title>
</head>
<body>
<th:book th:replace="layout :: header"></th:book>
<div class="container">
    <h1>Add Book</h1>
    <from th:action="@{/books/add}" th:object="${book}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="id">Mã sách:</label>
            <input class="form-control" type="text" th:field="*{id}" id="id">
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Tên sách:</label>
            <input class="form-control" type="text" th:field="*{title}" id="title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="author">Tác giả:</label>
            <input class="form-control" type="text" th:field="*{author}" id="author">
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Giá:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Danh mục:</label>
            <input class="form-control" type="text" th:field="*{category}" id="category">
            <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Thêm mới">

    </from>
</div>
</body>
</html>-->
