<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:book th:replace="layout :: link-css"></th:book>
    <title>Thêm Sách</title>
</head>
<body>
<th:book th:replace="layout :: header"></th:book>
<div class="container">
    <h1>Thêm Sách</h1>
    <form th:action="@{/books/add}" th:object="${book}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Tên sách:</label>
            <input class="form-control" type="text" th:field="*{title}" id="title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="author">Tác giả:</label>
            <input class="form-control" type="text" th:field="*{author}" id="author">
            <!--<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>-->
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Giá:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Danh mục:</label>
            <select class="form-control" id="category" name="category.id">
                <option value="">-- Select Category --</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Thêm mới">
    </form>
</div>
</body>
</html>
